.contacts {
    @extend %section;
    color: $color_1;
       
    .container {
       
        @include media(768px) {
            justify-content: space-between;
            align-items: flex-start;          
        }

        &__item {
        
            &-l {
                @include media(768px) {
                    width: 60%;
                }
            }
            &-r {
                @include media(768px) {
                    width: 30%;
                }
            }
        }
    }
    
    ul {
        list-style-type: none;        
    }

    a { 
        color: $color_3;
    }
}