.header {
    @extend %section;
    padding: 50px 0;
    background-image: linear-gradient(90deg, $color_3 10.63%, $color_1 88.13%);
    color: $color_4;
    text-align:center;

    &__container {
        @extend %containers;
    }

    &__top {
        width: 100%;
        height: 145px;
        display: flex;
        flex-direction:column;
        align-items: stretch;
        
        @include media(768px) {
            height: 80px;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid $color_4;
        }
    }

    &__description {
        flex-grow: 1;
        display: flex;
        align-items: center;
        
        @include media(768px) {
            text-align:left;
        }
    }
}
